* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    height: 100%;
  }

body {
    background-color: white;
    color: #495867;
    font-family: sans-serif;
}

/* header styling */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background:#495867;
    width: 100%;
}

header h1 {
    font-size: 275%;
    font-family: sans-serif;
    background:#495867;
    color: white;
    padding: 2%;
    padding-left: 5%;
    padding-right: 4%; 
}

/* header nav bar styling */
header nav{
    display: block;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav {
    margin-top: 10px;
    padding: 15px 30px 15px 15px;
}

nav a {
    text-decoration: none;
    font-size: 130%;
    color: white;
    padding: 10px 15px 10px 15px;
    border-right: 2px solid #ffff;
    
}

nav a:hover {
    color: #b6bbd5;
    font-size: larger;
}

/* styling for all h2 elements: sidebar, subtitle */
h2 {
    font-size: 250%;
    padding: 8px;
    text-align: right;
}

/* image under header and subtitle stylinge*/
.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
 }


/*work image styling */

.content-work {
    display: flex; 
    flex-wrap: wrap;
    width: 65%;
    }

/* first project image styling*/
.first-project-container{
    position: relative;
    text-align: center;
    color: #495867;

    width: 100%;
    height: 100%;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;}

/*secondary project image styling*/

.secondary-project-container-1 {
    position: relative;
    text-align: center;
    color: #495867;
    width: 50%;
    height: 50%;
}

.secondary-project-container-2 {
    position: relative;
    text-align: center;
    color: #495867;
    width: 50%;
    height: 50%;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;}


.secondary-project{
    width: 50%;
    height:50%;
}



.workimages {
    opacity: 70%;
    margin: 10px;
    padding: 5px;
    border: #495867 5px;
}

.workimages:hover {
    opacity: 100%;
    border: 5px solid #495867;
    transition: 500ms ease;
}



/* about me styling */

.aboutme {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
}

.aboutme p {
    line-height: 1.6;
    margin-top: 30px;
}

/* sidebar styling */
.sidebar-aboutme,
.sidebar-work,
.sidebar-contact {
    color: #495867;
    margin-right: 2%;
    border-right: 2px solid #495867
}

.sidebar-aboutme, .content-aboutme {
    padding: 20px 25px 20px 10px;
    margin-top: 4%;
}

.aboutme > .sidebar-aboutme {
    flex: 1 1 40%;
    max-width: 300px;
}

.aboutme > .content-aboutme {
    flex: 1 1 60%;
    min-width: 50ch;
}

/* work styling */

.work {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
}

.sidebar-work, .content-work {
    padding: 20px 25px 20px 10px;
}

.work > .sidebar-work {
    flex: 1 1 40%;
    max-width: 300px;
}

.work > .content-work {
    flex: 1 1 60%;
    min-width: 50ch;
}

/* contact info styling */

.contactinfo {
    display: flex;
    align-items: flex-end;
}

.sidebar-contact, .content-contact {
    padding: 20px 25px 20px 10px;
}

.contactinfo > .sidebar-contact {
    flex: 1 1 40%;
    max-width: 300px;
}

.contactinfo > .content-contact {
    flex: 1 1 60%;
    min-width: 50ch;
}

.content-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 12px;
}


.content-contact a {
    text-decoration: none;
    background: #495867;
    color: #ffff;
    padding: 20px;
    
}

.content-contact a:hover {
    color: #b6bbd5;
    font-size: larger;
    opacity: 90%;
    border: 5px solid #495867;
    transition: 500ms ease;
}

.content-contact{
    display: flex;
}




/* footer styling */
footer {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    background: #495867;
    color: #8da4bb;
    margin-top: 50px;
}

/*media screen styling*/
@media screen and (max-width: 1015px) {
    .headshot {
        display: flex;
        width: 175px;
    }
}

@media screen and (max-width: 970px) {
    header,
    .aboutme,
    .work,
    .contactinfo,
    .content-contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        border-right: 3px solid #495867;
    }


    .content-contact a {
        margin: 5px 0 5px 0;
    }

    .workimages {
        max-width: 500px;
    }
}

@media screen and (max-width: 545px) {
    header,
    .aboutme,
    .work,
    .contactinfo,
    .content-contact,
    .content-work {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        border-right: 3px solid #495867;
        border-left: 3px solid #495867;
    }

    .content-contact a {
        margin: 5px 0 5px 0;
    }

    .workimages {
        max-width: 350px;
    
}

@media screen and (max-width: 500px) {

    body {
        padding: 10px;
    }

    header,
    .aboutme,
    .work,
    .contactinfo,
    .content-contact,
    .content-work {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .aboutme p {
        margin-left: 30px;
    }

    header h1 {
        border-right: 3px solid #495867;
        border-left: 3px solid #495867;
    }

    nav a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
       border-top: 0px solid #b6bbd5;
        border-left: 0px solid #b6bbd5;;
        border-right: 0px solid #b6bbd5;
    }

    .content-contact a {
        margin: 5px 0 5px 0;
    }

    .workimages {
        max-width: 200px;
    }
}
